.loginRegister_parent_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background: black; */
}
.thinking_img_left,
.thinking_img_right {
  position: absolute;
  top: 0%;
  left: 50%;

  z-index: 1;
  width: 80vw;
  height: auto;
}
.thinking_img_left {
  transform: translateX(-65.5%) rotateZ(-45deg) translateY(-30%);
}
.thinking_img_right {
  transform: translateX(-34.5%) rotateZ(45deg) scaleX(-1) translateY(-30%);
}
.dummy_loginRegister_card {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(25%);
  width: 25vw;
  height: 65vh;

  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.dummy_loginRegister_card_register {
  height: 74vh;
  transform: translateX(-50%) translateY(10%);
}
.contact_ChealCaowa {
  top: 0px;
  left: -30px;
  width: 60px;
}

/* bats */

#Bat1 {
  top: 80%;
  right: 25%;
  transform: rotate(20deg);
  width: 70px;
}
#Bat2 {
  top: 80%;
  right: 48%;
  width: 100px;
}
#Bat3 {
  top: 73%;
  right: 42%;
  transform: rotate(25deg);
  width: 40px;
}
#Bat4 {
  top: 10%;
  right: 40%;
  transform: rotate(30deg);
  width: 75px;
}
#Bat5 {
  top: 9%;
  right: 56%;
  width: 120px;
  transform: rotate(30deg);
}
#Bat6 {
  top: 80%;
  right: 65%;
  width: 50px;
  transform: rotate(-5deg);
}
#Bat7 {
  top: 45%;
  right: 20%;
  width: 60px;
  transform: rotate(30deg);
}
#Bat8 {
  top: 80%;
  right: 7%;
  width: 40px;
  transform: rotate(-10deg);
}
#Bat9 {
  top: 7%;
  right: 60%;
  width: 50px;
}
@media (max-width: 800px) {
  .dummy_loginRegister_card {
    width: 70vw;
    min-height: 400px;
    /* transform: translateX(-50%) translateY(25%); */
  }
  .dummy_loginRegister_card_register {
    min-height: 450px;
  }
  .thinking_img_right {
    width: 0px;
    display: none;
  }
  .thinking_img_left {
    width: 0px;
    display: none;
    /* transform: translateX(-50%) rotateZ(0deg) translateY(-30%);
    width: 280vw; */
  }
}
@media (max-width: 450px) {
  .loginRegister_parent_container {
    min-height: 150vw;
    /* position: unset; */
  }
}
