.nav {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: url('../../assets/images/nav_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}
.nav.open {
  visibility: visible;
  opacity: 1;
}
.nav_ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  position: absolute;
  height: 100vh;
}
.nav_li {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.3s;
}
.nav_li:hover {
  transform: scale(1.3);
}

.burger {
  position: fixed;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  top: 40px;
  right: 50px;
  width: 60px;
  z-index: 20;
  transition: border-bottom 0.8s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger,
.burger::before,
.burger::after {
  border-bottom: 5px solid black;
}
.burger::before,
.burger::after {
  display: block;
  content: '';
  margin-bottom: 10px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.burger.open {
  border-bottom: 5px solid transparent;
}
.open.burger::before {
  transform: rotate(405deg) translateY(7px) translateX(7px);
}
.open.burger::after {
  transform: rotate(-405deg) translateY(-3px) translateX(3px);
}

@media only screen and (max-width: 500px) {
  .nav_li {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 5px;
  }
  .burger {
    top: 15px;
    right: 10px;
    width: 50px;
  }
  .burger::before,
  .burger::after {
    margin-bottom: 8px;
  }
}
