.nav_container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.nav_bg_image {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0.7;
}
.nav_ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  position: absolute;
  z-index: 3;
  height: 100vh;
}
.nav_li {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 10px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.3s;
}
.nav_li:hover {
  transform: scale(1.3);
}
