.tabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
  font-size: 1.4em;
  line-height: 1.3em;
}
.tabHeads {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.tabBtn {
  height: 60px;
  width: calc(100% / 3);
  background: white;
  color: black;
  border: none;
  font-family: 'Nunito Sans';
  font-size: 1.3em;
  letter-spacing: 0.2em;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
.tabBtn.active {
  background: black;
  color: white;
}
.tabBodys {
  width: 100%;
  background: black;
  color: white;
  height: calc(100% - 60px);
  overflow-y: auto;
}
.tabContent {
  position: absolute;
  opacity: 0;
  text-align: left;
  margin: 60px;
  max-height: 0;
  transition: opacity 0.1s ease-in;
  z-index: -1;
}
.tabContent.active {
  position: relative;
  opacity: 1;
  max-height: 200vh;
  transition: opacity 0.3s ease-in;
  z-index: unset;
}
.tabContent h3 {
  font-weight: 900;
}
.tabContent p {
  text-align: justify;
}
.teamDiv {
  display: flex;
  flex-direction: row;
}
.teamDiv > div {
  width: 40%;
}
.registerTab {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1366px) {
  /* .tabBtn {
    font-size: 1em;
  } */
  .tabBtn {
    font-size: 1em;
    height: 40px;
  }
  .tabBodys {
    height: calc(100% - 40px);
  }
  .tabContent {
    margin: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .tabContainer {
    width: 94%;
  }
  .teamDiv {
    flex-direction: column;
  }
  .teamDiv > div {
    width: 80%;
  }
}
