.parent_registerTab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.registerTab_button {
  background: white;
  color: black;
  width: 30%;
  border-radius: 7px;
  font-size: 1.3em;
  letter-spacing: 0.5em;
  min-width: 195px;
  overflow: hidden;
  height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  border: none;
  font-weight: 600;
  /* height: 10%; */
}

.registerTab_rules_container {
  text-align: left;
  width: 100%;
}
.registerTab_rule {
  font-size: 0.8em;
}
.registerTab_invitations_container {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-top: 7%;
}
.registerTab_heading {
  letter-spacing: 0.3em;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  font-size: 1.3em;
}
.registerTab_hr {
  width: 100%;
  margin-top: 1.5%;
}
.registerTab_form_container {
  width: 100%;
}
.registerTab_form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-bottom: 25px;
}
.registerTab_input {
  height: 2.5em;
  width: 15vw;
  font-size: 0.8em;
  border-radius: 5px;
  padding-left: 8px;
  outline: none;
  appearance: none;
  border: 2px solid black;
}
.registerTab_invite_button {
  background: white;
  width: 16vw;
  height: 2.5em;
  margin-left: 2vw;
  color: black;
  font-size: 0.8em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 2.5em;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  border: none;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.inv {
  margin-left: 15px;
  height: 1.8em;
  width: auto;
}
.registerTab_invite_button svg,
.registerTab_button svg {
  fill: black;
  stroke: black;
}
.registerTab_input_invalid {
  border-color: var(--error);
}
.max_size {
  font-size: 0.7em;
}
.must_auth_button {
  background: white !important;
  color: black !important;
  width: 12em;
}
.must_auth_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
}
.must_auth_button svg {
  transform: rotate(180deg);
}
.registerTab_teamName_form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.userTeam_name {
  margin-left: 10px;
}
.registerTab_form_p_team {
  width: 6.5em;
}
.registerTab_teamChange_button {
  margin-left: 10px;
  width: 2em;
  height: 1em;
  background: black;
  border: none;
  cursor: pointer;
}
.registerTab_teamChange_button:focus {
  outline: none;
  appearance: none;
}
.edit {
  width: 1.5em;
  margin-top: -0.2em;
}
.tick {
  margin-top: -0.2em;
  width: 1.5em;
  height: 1.5em;
}
.registerTab_teamName_input {
  margin-left: 10px;
  padding-left: 5px;
  width: 8em;
  height: 1.5em;
  font-size: 0.8em;
  border-radius: 5px;
  outline: none;
  border: none;
  appearance: none;
}
@media (max-width: 1120px) {
  .registerTab_invite_button {
    font-size: 0.7em !important;
  }
  .registerTab_button {
    font-size: 1.1em !important;
    letter-spacing: 0.4em !important;
  }
}
@media (max-width: 920px) {
  .registerTab_invite_button {
    width: 14em !important;
  }
  .registerTab_input {
    width: 14em;
  }
  .registerTab_heading {
    font-size: 1em;
  }
  .registerTab_invitations_container {
    margin-top: 10%;
  }
  .registerTab_button {
    font-size: 0.9em !important;
    letter-spacing: 0.3em !important;
  }
}
@media (max-width: 500px) {
  .registerTab_form {
    justify-content: center;
  }
  .registerTab_form_p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .registerTab_invite_button {
    width: 14em !important;
    margin-top: 10px !important;
    margin-left: -1.5px !important;
    height: 3em !important;
    font-size: 1em !important;
  }
  .registerTab_input {
    width: 18em;
    height: 3em;
  }
  .registerTab_teamName_form {
    justify-content: center;
  }
  .userTeam_name,
  .registerTab_teamName_input,
  .registerTab_teamChange_button {
    margin-left: 5px;
  }
}
