.invitation_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-top: 10px;
}
.invitation_content {
  color: white;
  font-size: 0.9em;
  width: 15%;
  text-align: left;
}
.invitation_content_sr {
  color: white;
  font-size: 0.9em;
  width: 10%;
  text-align: left;
}
.invitation_button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  min-width: 260px;
  align-content: center;
  align-items: center;
}
.invitation_button_container_single {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20%;
  min-width: 130px;
  align-content: center;
  align-items: center;
}
.invitation_button {
  background: white;
  color: black;
  font-size: 0.8em;
  height: 2.5em;
  width: 48%;
  min-width: 120px;
  overflow: hidden !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 2.5em;
  border: none;
  cursor: pointer;
}
.member_button {
  background: white;
  color: black;
  font-size: 0.8em;
  height: 2.5em;
  width: 15%;
  min-width: 10em;
  overflow: hidden;
  border-radius: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
  border: none;
}
.cross {
  width: 1.2em;
  margin-left: 8px;
}
.invitation_button svg {
  fill: black !important;
  stroke: black !important;
}
@media (max-width: 920px) {
  .invitation_content {
    width: 20%;
    text-align: left;
  }
  .invitation_container {
    flex-wrap: wrap;
  }
  .invitation_content {
    width: 6.5em;
  }
  .invitation_button {
    width: 140px;
    font-size: 0.7em;
  }
}
@media (max-width: 650px) {
  .invitation_content {
    min-width: 6.5em;
  }
  .invitation_button_container {
    justify-content: center;
    min-width: 100%;
  }
  .invitation_button_container_single {
    justify-content: center;
    min-width: 100%;
  }
}
@media (max-width: 500px) {
  .invitation_button_container {
    justify-content: center;
    min-width: 100%;
  }
  .invitation_button_container_single {
    justify-content: center;
    min-width: 100%;
  }
  .invitation_content {
    font-size: 0.9em;
  }
  .invitation_button {
    margin-top: 10px;
    font-size: 0.65em;
    width: 150px;
    height: 40px;
    min-width: 100px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .member_button {
    margin-top: 10px;
    min-width: 200px !important;
    min-height: 40px !important;
  }
}
