.profileSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6em;
  flex-wrap: wrap;
}
.leftDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.photoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 50%;
  width: 16vh;
  height: 16vh;
}
.photoDiv > img {
  width: 90%;
  border-radius: 50%;
}
.nameDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}
.nameDiv > span:nth-child(1) {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 2vh;
}
.rightDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsDiv > div {
  display: flex;
  flex-direction: column;
}
.detailsDiv > div:nth-child(1) {
  align-items: flex-end;
  margin-right: 2vw;
  font-weight: 800;
}
.detailsDiv > div:nth-child(2) {
  align-items: flex-start;
}
.detailsDiv > div > span {
  margin-bottom: 1vh;
}
@media only screen and (max-width: 500px) {
  .nameDiv > span:first-child {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
  }
  .nameDiv > span:last-child {
    font-size: 1.2em;
    margin-bottom: 2.5vh;
  }
}
