.caDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.caForm {
  display: flex;
  flex-direction: row;
}

.caTable {
  min-width: 100%;
  font-size: 1.3em;
  background: white;
  border-collapse: collapse;
}

.caTableScroll {
  width: 80%;
  display: flex;
  justify-content: center;
  max-height: 45vh;
  overflow-y: auto;
}

.caTable tbody tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.2);
}
