.Social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  position: fixed;
  bottom: 20px;
  left: 35px;
}
.Social svg {
  height: 42px;
  margin: 0 15px;
}

@media only screen and (max-width: 500px) {
  .Social {
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
  }
  .Social svg {
    /* height: 35px; */
    margin: 0 10px;
  }
}
