.contact_parent_container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.contact_aurora_logo {
  width: 80px;
  height: auto;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
}

.contact_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 85vw;
  height: 85vh;
}
.contact_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 49%;
  min-height: 600px;
  height: 100%;
  margin-right: 20px;
}
.contact_divider {
  width: 4px;
  height: 100%;
  background: black;
}
.contact_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 49%;
  height: 100%;
  margin-left: 20px;
}
.contact_us,
.find_us {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: flex-start;
  align-content: center;
}
.contact_heading {
  text-align: left;
  margin: 0px;
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: 700;
}
.contact_card {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 8px;
  background: black;
  padding-top: 10px;
}
.cordi {
  display: flex;
  flex-direction: row;
  width: 90%;

  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 8.5vh;
  min-height: 50px;
}
.cordi_heading {
  color: white;
  width: 65%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 28px;
  /* margin: 0px; */

  letter-spacing: 5px;
  font-weight: 600;
}

.map_container {
  margin-top: 15px;
  border: 3px solid black;
  margin-top: 15px;
  border-radius: 8px;
  width: 100%;
  height: 70%;

  /* margin: 0px; */
}
.cordi_heading {
  width: 65%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 80%;
  height: 100%;
}
.single_line_input,
.multiple_line_input {
  width: calc(100% - 10px);
  border: 3px solid black;
  font-weight: 600;
  border-radius: 8px;
  height: 5vh;
  min-height: 30px;
  margin-top: 40px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 26px;
  padding-left: 10px;
  min-width: 10px;
}
.single_line_input:focus,
.multiple_line_input:focus,
.form_submit:focus {
  outline: none;
}
.single_line_input::placeholder,
.multiple_line_input::placeholder {
  font-size: 26px;
  color: black;
  font-weight: 600;
}
.single_line_input::-webkit-input-placeholder,
.multiple_line_input::-webkit-input-placeholder {
  font-size: 26px;
  color: black;
  font-weight: 600;
}
.single_line_input::-moz-placeholder,
.multiple_line_input::-moz-placeholder {
  font-size: 26px;
  color: black;
  font-weight: 600;
}
.multiple_line_input {
  height: 20vh;
  padding-top: 10px;
}
.form_submit {
  width: 100%;
  border: 3px solid black;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 32px;
  height: 8vh;
  min-height: 50px;
  margin-top: 40px;
  padding: 0px;
  cursor: pointer;
  letter-spacing: 8px;
  font-weight: 600;
  /* padding-left: 10px; */
}
.form_submit:disabled {
  background: var(--disabled);
  border-color: var(--disabled);
}

.map_outer {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1600px) and (min-width: 1300px) {
  .cordi_heading {
    font-size: 22px;
  }
}
@media (max-width: 850px) {
  .contact_container {
    width: 100%;
    min-height: 100%;
    display: block;
    padding-top: 100px;
  }
  .contact_left {
    width: 100%;
    padding: 0px;
  }
  .contact_divider {
    display: none;
  }
  .contact_right {
    width: 100%;
    padding-left: 0px;
    margin: 0px;
    height: auto;
    padding-bottom: 20px;
  }
  .contact_us,
  .find_us {
    flex-wrap: wrap;
    width: 90%;
  }
  .form {
    width: 90%;
    margin: 0px;
  }
  .single_line_input,
  .multiple_line_input {
    margin-top: 10px;
    border: 2px solid black;
  }
  .form_submit {
    width: 100%;
    margin-top: 10px;
  }
  .map_container {
    border: 2px solid black;
  }
}
@media (max-width: 1366px) {
  .contact_heading {
    font-size: 22px;
  }
  .cordi_heading {
    font-size: 18px;
    letter-spacing: 0px;
  }
  .form_submit {
    font-size: 23px;
  }
  .single_line_input::placeholder,
  .multiple_line_input::placeholder {
    font-size: 18px;
  }
  .single_line_input::-webkit-input-placeholder,
  .multiple_line_input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .single_line_input::-moz-placeholder,
  .multiple_line_input::-moz-placeholder {
    font-size: 18px;
  }
  .single_line_input,
  .multiple_line_input {
    font-size: 18px;
  }
  .contact_aurora_logo {
    width: 60px;
    top: 10px;
    left: 10px;
  }
}
