.eventSection {
  font-size: 1.4em;
  letter-spacing: 0.1em;
  width: 100%;
}
.eventSection h3 {
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
  width: max-content;
}
.paidDiv, .pendingDiv {
  width: 100%;
  margin-bottom: 2vh;
}
.evtTable {
  width: 100%;
  border-collapse: collapse;
}
.evtTable > tr > th {
  font-size: 1.2em;
  font-weight: 600;
}
.evtTable > tr {
  height: 3em;
}
.evtTable > tr:nth-child(1) {
  border-bottom: 2px solid black;
}
