.eventSection {
  font-size: 1.4em;
  letter-spacing: 0.1em;
  width: 100%;
}
.eventSection h3 {
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
  width: max-content;
}
.paidDiv,
.pendingDiv {
  width: 100%;
  margin-bottom: 2vh;
}
.evtTable {
  width: 100%;
  border-collapse: collapse;
}
.evtTable tr > th {
  font-size: 1.2em;
  font-weight: 600;
}
.evtTable tr {
  height: 3em;
}
.evtTable > thead > tr {
  border-bottom: 2px solid black;
}

.certi_button {
  width: 12em;
  height: 2em;
  border-radius: 4em;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 0.7em;
  padding: 0px;
  margin-left: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (max-width: 500px) {
  .evtTable tr > th {
    font-size: 1em;
    font-weight: 600;
  }
  /* .evtTable > tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  } */
}
