@font-face {
  font-family: 'SkullAndVoid';
  src: local('SkullAndVoid'), url('../../assets/fonts/SkullAndVoid-Ywg2.ttf');
}
.eventDetail {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.accordionContainer {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
