.login_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 22px;
  align-content: center;
  align-items: center;
}
.login_heading {
  font-size: 2em;
  margin: 0px;
  width: 90%;
}
.login_label {
  width: 90%;
  text-align: left;
  padding-left: 16%;
  margin-bottom: -4%;
  font-weight: 300;
  font-size: 0.9em;
}
.login_input {
  width: 80%;
  height: 8%;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 1em;
  padding-left: 3%;
}
.login_input:focus {
  outline: none;
}
.login_button {
  width: 43%;
  background: black;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  height: 8%;
  border-radius: 50px;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.arrow {
  transform: rotateZ(180deg);
  width: 1vw;
  margin-left: 20px;
}
.arrow_back {
  height: 1vw;
  fill: white;
  transform: rotateZ(180deg);
}
.login_link {
  width: 90%;
  font-size: 0.9em;
}
.login_hr {
  width: 60%;
  border: 1px solid black;
  background: black;
  margin-top: -1%;
  margin-bottom: -1%;
}
.login_not_registered {
  width: 90%;
  margin: 0px;
  font-weight: 500;
  font-size: 0.9em;
}
.login_button_back {
  width: 2.5vw;
  height: 2.5vw;
  background: black;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 1.25vw;
  position: absolute;
  top: -1vw;
  left: -1vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#login_select {
  width: 83% !important;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.login_input_invalid {
  border-color: var(--error);
}
@media (max-width: 1366px) {
  .login_form {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  .login_form {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .arrow {
    width: 3vw;
  }
  .arrow_back {
    height: 3vw;
  }
  .login_button_back {
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 2.75vw;
    top: -2vw;
    left: -2vw;
  }
}
@media (max-width: 450px) {
  .login_button_back {
    width: 9vw;
    height: 9vw;
    border-radius: 4.5vw;
    top: -3vw;
    left: -3vw;
  }
}
