/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Cantarell:400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* filter: invert(); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: currentColor;
  text-decoration: none;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

@media only screen and (max-width: 1600px) and (min-width: 1300px) {
  body {
    font-size: 0.8em;
  }
}
