:root {
  /* Colors */
  --primary: #000000;
  --secondary: #ffffff;
  --success: #4b8f49;
  --error: #ea4242;
  --disabled: #4f4f4f;

  /* Breakpoints */
  --mobileViewportWidth: 992px;
}
.bat_div {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
