name: Deploy on staging server

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          ref: dev
          fetch-depth: 1

      - uses: actions/setup-node@v1
        with:
          node-version: '13.x'

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-dev-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-dev-${{ env.cache-name }}-
            ${{ runner.OS }}-build-dev-
            ${{ runner.OS }}-

      - name: Upload build
        uses: actions/upload-artifact@v1
        with:
          name: build-dev
          path: build


  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build
        uses: actions/download-artifact@v1
        with:
          name: build-dev
          path: build

      - name: Setup key
        env:
          ECD_KEY: ${{ secrets.ECD_KEY }}
        run: |
          echo "$ECD_KEY" | base64 -d > ecd
          chmod 400 ecd

      - name: Deploy the build to server
        run: scp -r -i ecd -o StrictHostKeyChecking=no build ops@aurorafest.org:/var/www/aurora-staging/
